name: Build Arm64 (Hack Sign)
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./simple_live_app

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Hack Signing Config & Build
      run: |
        # 【关键魔法步骤】使用 sed 命令修改 build.gradle
        # 将 Release 签名配置强行替换为 Debug 签名配置
        sed -i 's/signingConfig signingConfigs.release/signingConfig signingConfigs.debug/g' android/app/build.gradle

        flutter pub get
        flutter build apk --release --target-platform android-arm64

    - uses: actions/upload-artifact@v4
      with:
        name: simple-live-arm64-hacked
        path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
